{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h1>Profile Page</h1>
    <h2>Welcome</h2>
    <h3>Saved Cocktails:</h3>
    <ul>
        {% for cocktail in saved_cocktails %}
            <li>{{ cocktail.name }}</li>
        {% endfor %}
    </ul>

    {% if current_user %}
        <h3>Save New Cocktail:</h3>
        <form method="POST" action="{{ url_for('save_cocktail') }}">
            <input type="hidden" name="cocktail_id" value="{{ cocktail_id }}">
            <input type="hidden" name="cocktail_name" value="{{ cocktail_name }}">
            <button type="submit" class="btn btn-primary">Save Cocktail</button>
        </form>
    {% else %}
        <p>Please log in to save cocktails.</p>
    {% endif %}
</div>
{% endblock %}


